@charset "UTF-8";
.media-bank__arrow, .about-complex__arrow {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 45%;
  right: 0;
}
.media-bank__arrow:before, .about-complex__arrow:before {
  position: absolute;
  width: 6px;
  height: 1px;
  top: -2px;
  right: -1px;
  content: "";
  border-radius: 25px;
  transform: rotate(45deg);
}
.media-bank__arrow:after, .about-complex__arrow:after {
  position: absolute;
  width: 6px;
  height: 1px;
  bottom: -2px;
  right: -1px;
  content: "";
  border-radius: 25px;
  transform: rotate(-45deg);
}

.about-complex {
  background: url("../img/bgc.svg") center/cover no-repeat fixed;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
}
.about-complex .content {
  margin: 90px 0 0 0;
  max-height: 600px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "texts texts" "none buttons";
}
.about-complex__texts {
  width: 420px;
  height: 224px;
  grid-area: texts;
  align-self: end;
  cursor: default;
}
.about-complex__header {
  /* Style for "ЭКСПОФОРУМ" */
  width: 420px;
  height: 75px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 102.4px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}
.about-complex__sub-header {
  /* Style for "конгрессно" */
  width: 533px;
  height: 68px;
  color: #ffffff;
  font-family: Circe;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33.6px;
  text-align: left;
  margin: 0 0 35px 0;
}
.about-complex__text {
  /* Style for "Подробнее" */
  width: 110px;
  height: 20px;
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18.9px;
  position: relative;
  display: block;
}
.about-complex__arrow {
  background: #ffffff;
}
.about-complex__arrow:before {
  background: #ffffff;
}
.about-complex__arrow::after {
  background: #ffffff;
}
.about-complex__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 145px 175px;
  grid-template-areas: "calendar road" "sign plan";
  gap: 30px;
  max-width: 540px;
  height: 355px;
  text-align: left;
  grid-area: buttons;
  justify-items: start;
}
.about-complex__buttons .about-complex__text {
  cursor: pointer;
  /* Style for "Подробнее" */
  /* Style for "Подробнее" */
  width: 100px;
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin: 15px 0 0 0;
  display: block;
  text-align: left;
  position: relative;
}
.about-complex__buttons .about-complex__text:active .about-complex__buttons .about-complex__text:visited {
  width: 100px;
  display: inline-block;
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin: 15px 0 0 0;
  display: block;
  position: relative;
  text-align: left;
}
.about-complex__button-calendar {
  cursor: default;
  grid-area: calendar;
  /* Style for "Rectangle" */
  width: 255px;
  height: 148px;
  background-color: #2378fc;
  padding: 0 0 0 40px;
}
.about-complex__button-calendar .about-complex__sub-header {
  /* Style for "Календарь" */
  width: 127px;
  height: 54px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.21px;
  text-align: left;
  line-height: 27.3px;
  margin: 0 0 0 0;
}
.about-complex__button-road {
  grid-area: road;
  cursor: default;
  /* Style for "Rectangle" */
  width: 255px;
  height: 148px;
  background-color: #30bcc9;
  padding: 0 0 0 40px;
}
.about-complex__button-road .about-complex__sub-header {
  /* Style for "Как добрат" */
  width: 175px;
  height: 54px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.21px;
  line-height: 27.3px;
  text-align: left;
  margin: 0 0 0 0;
}
.about-complex__button-sign {
  grid-area: sign;
  cursor: default;
  /* Style for "Rectangle" */
  width: 255px;
  height: 175px;
  padding: 0 0 0 40px;
  background-color: #ffc41e;
}
.about-complex__button-sign .about-complex__sub-header {
  /* Style for "Онлайн-зая" */
  width: 154px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 21px;
  height: 81px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.21px;
  line-height: 27.3px;
  text-align: left;
  margin: 0 0 0 0;
}
.about-complex__button-plan {
  grid-area: plan;
  cursor: default;
  /* Style for "Rectangle" */
  width: 255px;
  height: 175px;
  background-color: #f6404f;
  padding: 0 0 0 40px;
}
.about-complex__button-plan .about-complex__sub-header {
  /* Style for "План  и ин" */
  width: 175px;
  height: 81px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.21px;
  line-height: 27.3px;
  text-align: left;
  margin: 0 0 0 0;
}

.about-company {
  min-width: 100vw;
  min-height: 426px;
  background-color: #2378fc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
}
.about-company__title {
  /* Style for "Организато" */
  width: 210px;
  height: 39px;
  color: #ffffff;
  font-family: Plumb;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.3px;
  line-height: 39px;
  text-align: left;
  margin: 0 0 30px 0;
}
.about-company__text {
  /* Style for "Услуги орг" */
  width: 170px;
  color: #ffffff;
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.6px;
  text-align: left;
  margin: 0 0 15px 0;
  display: block;
}
.about-company .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  align-items: top;
  margin: 75px 0;
}

.media-bank {
  min-width: 100vw;
  min-height: 984px;
  background-color: #ffc41e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
}
.media-bank .content {
  margin: 75px 0 80px 0;
}
.media-bank__texts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: unset;
  margin: 0 0 45px 0;
}
.media-bank__title {
  height: 39px;
  width: 454px;
  font-family: Plumb;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.01em;
  text-align: left;
}
.media-bank__events-history {
  min-width: 206px;
  max-height: 27px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  /* or 27px */
  letter-spacing: -0.01em;
  border-bottom: 1px #000000 solid;
  /* other / black */
  position: relative;
  color: #2E373B;
}
.media-bank__events-history:hover {
  border: 0;
}
.media-bank__arrow {
  background: #000000;
}
.media-bank__arrow:before {
  background: #000000;
}
.media-bank__arrow::after {
  background: #000000;
}
.media-bank__events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: top;
  row-gap: 40px;
  column-gap: 30px;
}
.media-bank__item {
  min-height: 350px;
  max-width: 350px;
}
.media-bank__img {
  width: 350px;
  height: 240px;
  margin: 0 0 20px;
}
.media-bank__date {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  /* identical to box height, or 19px */
  /* other / black */
  color: #2E373B;
}
.media-bank__mini-title {
  font-family: Plumb;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */
  letter-spacing: -0.01em;
  margin: 10px 0;
  /* Main / Red */
  color: #F6404F;
}
.media-bank__text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  /* identical to box height, or 22px */
  /* other / black */
  color: #2E373B;
}